@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    String userRole = Session["userRole"] as String;
    String verify = Session["VerifyUser"] as String;
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    if (Session["user"] == null)
    {
        Session.RemoveAll();
        Session["login-status"] = "NotLogin";
        Session["SavePath"] = path;
        Response.Redirect("~/User/Login", false);
    }
    else if (!(userRole.Equals("Sale")))
    {
        Session.RemoveAll();
        Session["login-status"] = "WrongRole";
        Response.Redirect("~/User/Login", false);
    }
}
<link href="~/Content/mycard.css" rel="stylesheet">
<style>
    .qa-list-projects h1 {
        margin-bottom: 100px;
    }

    .card {
        padding: 0px;
        margin: 20px;
    }

    .card-title:hover {
        color: dodgerblue;
    }

    .qa-title {
        font-weight: bold;
    }

    .modal-dialog {
        max-height: 800px;
        overflow: visible;
    }.card-img-top{
         width:350px;
         height:200px;
     }
</style>
<div class="container qa-list-projects">
    <center><h1>Project Approval</h1></center>
    <h4 style="font-size:large">There are <span class="my-count-number" style="font-size:larger;color:teal">@ViewBag.Count</span> projects need to be approve</h4>
    <div class="row">
        @foreach (var item in ViewData["project-not-approve"] as List<PPCRental.Models.View_project_from_index>)
        {
            <div class="card col-sm-4 project-id-@item.ID" style="width: 35rem;">
                <img class="card-img-top" data-action="zoom" src="~/img/avatar/@item.Avatar" alt="@item.PropertyName">
                <div class="card-body">
                    <!--subtring name-->
                    <p class="qa-project-id" style="display:none">@item.ID</p>
                    @{
                        var maxLength = 30;
                        var currentLength = item.PropertyName.Length;
                        if (currentLength > maxLength)
                        {
                            var subName = item.PropertyName.Split(' ');
                            String fName = "";
                            String lName = "";
                            for (int i = 0; i < subName.Length; i++)
                            {
                                if (i < 3)
                                {
                                    fName = fName + subName[i] + " ";
                                }
                                else if (i >= subName.Length - 1)
                                {
                                    lName = lName + subName[i] + " ";
                                }
                            }
                            String name = fName.Trim() + "..." + lName.Trim();
                            <h4 class="card-title qa-project-name">@name</h4>
                        }
                        else
                        {
                            <h4 class="card-title qa-project-name">@item.PropertyName</h4>
                        }
                    }
                    @{
                        var length = (item.Content.Length);
                        if (length > 100)
                        {
                            <p class="card-text" style="margin-bottom:10px;">@item.Content.Substring(0, 100)...</p>
                        }
                        else
                        {
                            <p class="card-text" style="margin-bottom:10px;">@item.Content</p>
                        }
                    }
                    <p style="font-size:smaller"><span style="font-weight:bold">Last update:</span>@item.Updated_at</p>
                    <button class="btn btn-success qa-btn-approve" data-toggle="modal" data-target="#approve-modal">Approve</button>
                    <button class="btn btn-danger qa-btn-reject" data-toggle="modal" data-target="#reject-model">Reject</button>
                </div>
            </div>
        }
    </div>
</div>
<!--Model-->
<!--Approve Modal -->
<div class="modal fade" id="approve-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body" style="height:500px">
                <p>Are you sure to approve "<span class="modal-project-name qa-title"></span>"?</p>
                <div class="modal-img row" style="margin-bottom:50px;">
                    <div class="col-sm-6">
                        <h6 style="margin-bottom:0">Avatar:</h6><br />
                        <img data-action="zoom" src="~/img/avatar/not-found.jpg" class="qa-avatar-modal" />
                    </div>
                    <div class="col-sm-6">
                        <h6 style="margin-bottom:0">Image:</h6><br />
                        <img data-action="zoom" src="~/img/avatar/not-found.jpg" class="qa-image-modal" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li style="display:none"><span class="qa-title">Id:</span>: <span class="modal-project-id"></span></li>
                        <li><span class="qa-title">Name</span>: <span class="modal-project-name"></span></li>
                        <li><span class="qa-title">By</span>: <span class="modal-project-author"></span></li>
                        <li><span class="qa-title">Property Type</span>:<span class="modal-project-type"></span></li>
                        <li><span class="qa-title">Price</span>: <span class="modal-project-price"></span></li>
                        <li><span class="qa-title">Area</span>: <span class="modal-project-area"></span></li>
                        <li><span class="qa-title">BedRoom</span>: <span class="modal-project-bed"></span></li>
                        <li><span class="qa-title">BathRoom</span>: <span class="modal-project-bath"></span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><span class="qa-title">Packing Place</span>: <span class="modal-project-park"></span></li>
                        <li><span class="qa-title">District</span>: <span class="modal-project-district"></span></li>
                        <li><span class="qa-title">Ward</span>: <span class="modal-project-ward"></span></li>
                        <li><span class="qa-title">Street</span>: <span class="modal-project-street"></span></li>
                        <li><span class="qa-title">Create at</span>: <span class="modal-project-create"></span></li>
                        <li><span class="qa-title">Update at</span>: <span class="modal-project-update"></span></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul>
                        <li><span class="qa-title">Description</span>: <span class="modal-project-content"></span></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success qa-btn-approve-yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Reject Modal -->
<div class="modal fade" id="reject-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body" style="height:500px">
                <p>Are you sure to reject "<span class="modal-project-name qa-title"></span>"?</p>
                <div class="modal-img row" style="margin-bottom:50px;">
                    <div class="col-sm-6">
                        <h6 style="margin-bottom:0">Avatar:</h6><br />
                        <img src="~/img/avatar/not-found.jpg" class="qa-avatar-modal" />
                    </div>
                    <div class="col-sm-6">
                        <h6 style="margin-bottom:0">Image:</h6><br />
                        <img src="~/img/avatar/not-found.jpg" class="qa-image-modal" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li style="display:none"><span class="qa-title">Id:</span>: <span class="modal-project-id"></span></li>
                        <li><span class="qa-title">Name</span>: <span class="modal-project-name"></span></li>
                        <li><span class="qa-title">By</span>: <span class="modal-project-author"></span></li>
                        <li><span class="qa-title">Property Type</span>:<span class="modal-project-type"></span></li>
                        <li><span class="qa-title">Price</span>: <span class="modal-project-price"></span></li>
                        <li><span class="qa-title">Area</span>: <span class="modal-project-area"></span></li>
                        <li><span class="qa-title">BedRoom</span>: <span class="modal-project-bed"></span></li>
                        <li><span class="qa-title">BathRoom</span>: <span class="modal-project-bath"></span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><span class="qa-title">Packing Place</span>: <span class="modal-project-park"></span></li>
                        <li><span class="qa-title">District</span>: <span class="modal-project-district"></span></li>
                        <li><span class="qa-title">Ward</span>: <span class="modal-project-ward"></span></li>
                        <li><span class="qa-title">Street</span>: <span class="modal-project-street"></span></li>
                        <li><span class="qa-title">Create at</span>: <span class="modal-project-create"></span></li>
                        <li><span class="qa-title">Update at</span>: <span class="modal-project-update"></span></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul>
                        <li><span class="qa-title">Description</span>: <span class="modal-project-content"></span></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success qa-btn-reject-yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--reason modal-->
<div id="reason-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Note</h4>
            </div>
            <div class="modal-body">
                <p>Please tell agency the reason why their project is rejected</p>
                <input type="text" class="form-control" placeholder="input the reason(optional)" id="qa-input-reason" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success qa-btn-reason-yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    //modal
    $('.qa-btn-approve').on("click", function () {
        //get id
        var projectid = $(this).parents(".card-body").find(".qa-project-id").text();
        console.log(projectid);
        //call ajax
        $.ajax({
            url: '/Project/getProject/',
            type: "POST",
            data: { id: projectid },
            dataType: "json",
            success: function (data) {
                console.log(data.Project);
                var project = data.Project
                $(".modal-project-id").html(project.ID);
                $(".modal-project-name").html(project.PropertyName);
                $(".modal-project-price").html(project.Price + " " + project.UnitPrice);
                $(".modal-project-area").html(project.Area + " m2");
                $(".modal-project-bed").html(project.BedRoom + " Room");
                $(".modal-project-bath").html(project.BathRoom + " Room");
                $(".modal-project-park").html(project.PackingPlace + " Slot");
                $(".modal-project-district").html(project.DistrictName);
                $(".modal-project-ward").html(project.WardName);
                $(".modal-project-street").html(project.StreetName);
                $(".modal-project-author").html(project.FullName);
                $(".modal-project-type").html(project.CodeType);
                $(".modal-project-create").html(project.Create_at);
                $(".modal-project-update").html(project.Update_at);
                $(".modal-project-content").html(project.Content);
                if (project.Avatar != null) {
                    $(".qa-avatar-modal").attr("src", "../img/avatar/" + project.Avatar);
                }
                if (project.Image != null) {
                    $(".qa-image-modal").attr("src", "../img/avatar/" + project.Image);
                }
                $('#approve-modal').modal('toggle');
            },
            error: function (err) {
            },
        });
        return false;
    });
    $('.qa-btn-reject').on("click", function () {
        //get id
        var projectid = $(this).parents(".card-body").find(".qa-project-id").text();
        console.log(projectid);
        //call ajax
        $.ajax({
            url: '/Project/getProject/',
            type: "POST",
            data: { id: projectid },
            dataType: "json",
            success: function (data) {
                console.log(data.Project);
                var project = data.Project
                $(".modal-project-id").html(project.ID);
                $(".modal-project-name").html(project.PropertyName);
                $(".modal-project-price").html(project.Price + " " + project.UnitPrice);
                $(".modal-project-area").html(project.Area + " m2");
                $(".modal-project-bed").html(project.BedRoom + " Room");
                $(".modal-project-bath").html(project.BathRoom + " Room");
                $(".modal-project-park").html(project.PackingPlace + " Slot");
                $(".modal-project-district").html(project.DistrictName);
                $(".modal-project-ward").html(project.WardName);
                $(".modal-project-street").html(project.StreetName);
                $(".modal-project-author").html(project.FullName);
                $(".modal-project-type").html(project.CodeType);
                $(".modal-project-create").html(project.Create_at);
                $(".modal-project-update").html(project.Update_at);
                $(".modal-project-content").html(project.Content);
                if (project.Avatar != null) {
                    $(".qa-avatar-modal").attr("src", "../img/avatar/" + project.Avatar);
                }
                if (project.Image != null) {
                    $(".qa-image-modal").attr("src", "../img/avatar/" + project.Image);
                }
                $('#reject-modal').modal('toggle');
            },
            error: function (err) {
            },
        });
        return false;
    });
    //approve
    $('.qa-btn-approve-yes').on("click", function () {
        var id = $('.modal-project-id').html();
        console.log(id);
        // alert(id);
        $.ajax({
            url: '/Project/Approve/',
            type: "POST",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                //alert(data.Message);
                $('.project-id-' + id).hide(1000);
                var count = $('.my-count-number').text();
                count = parseInt(count) - 1;
                $('#approve-modal').modal('toggle');
                $('.my-count-number').html(count);
            },
            error: function (err) {
                //alert(err.Message);
            },
        });
        return false;
    });
    //reject
    $('.qa-btn-reject-yes').on("click", function () {
        $('#reject-modal').modal('toggle');
        $('#reason-modal').modal('toggle');
    });
    $('.qa-btn-reason-yes').on("click", function () {
        var id = $('.modal-project-id').html();
        console.log(id);
        var reason = $('#qa-input-reason').val();
        $('#qa-input-reason').val("");
        console.log('reason:' + reason);
        //alert(id);
        $.ajax({
            url: '/Project/Reject/',
            type: "POST",
            data: { id: id, reason: reason },
            dataType: "json",
            success: function (data) {
                //alert(data.Message);
                $('.project-id-' + id).hide(1000);
                var count = $('.my-count-number').text();
                count = parseInt(count) - 1;
                $('#reason-modal').modal('toggle');
                $('.my-count-number').html(count);
            },
            error: function (err) {
                //alert('loi');
            },
        });
        return false;
    });
</script>
