@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    String userRole = Session["userRole"] as String;
    String verify = Session["VerifyUser"] as String;
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    if (Session["user"] == null)
    {
        Session.RemoveAll();
        Session["login-status"] = "NotLogin";
        Session["SavePath"] = path;
        Response.Redirect("~/User/Login", false);

    }
    else if (!(userRole.Equals("Sale")))
    {
        Session.RemoveAll();
        Session["login-status"] = "WrongRole";
        Response.Redirect("~/User/Login", false);

    }
}
<link href="~/Content/mycard.css" rel="stylesheet">
<style>
    .qa-list-projects h1{
        margin-bottom:100px;
    }
    .card{
        padding:0px;
        margin:20px;
    }
    .card-title:hover{
        color:dodgerblue;
    }
    .qa-title{
        font-weight:bold;
    }
    
</style>
<div class="container qa-list-projects">
    <center><h1>Project Approval</h1></center>

    <h4 style="font-size:large">There are <span int="my-count-number" style="font-size:larger;color:teal">@ViewBag.Count</span> projects need to be approve</h4>
    <div class="row">
        @foreach (var item in ViewData["project-not-approve"] as List<PPCRental.Models.View_project_from_index>)
        {
            <div class="card col-sm-4" style="width: 35rem;">
                <img class="card-img-top" src="~/img/avatar/@item.Avatar" alt="@item.PropertyName">
                <div class="card-body">
                    <!--subtring name-->
                    <p class="project-id" style="display:none">@item.ID</p>
                    @{
                        var maxLength = 30;
                        var currentLength = item.PropertyName.Length;
                        if (currentLength > maxLength)
                        {
                            var subName = item.PropertyName.Split(' ');
                            String fName = "";
                            String lName = "";
                            for (int i = 0; i < subName.Length; i++)
                            {
                                if (i < 3)
                                {
                                    fName = fName + subName[i] + " ";
                                }
                                else if (i >= subName.Length - 1)
                                {
                                    lName = lName + subName[i] + " ";
                                }
                            }
                            String name = fName.Trim() + "..." + lName.Trim();
                            <h4 class="card-title qa-project-name">@name</h4>
                        }
                        else
                        {
                            <h4 class="card-title qa-project-name">@item.PropertyName</h4>
                        }

                    }

                    @{
                        var length = (item.Content.Length);
                        if (length > 100)
                        {
                            <p class="card-text" style="margin-bottom:10px;">@item.Content.Substring(0, 100)...</p>
                        }
                        else
                        {
                            <p class="card-text" style="margin-bottom:10px;">@item.Content</p>
                        }

                    }
                    <p style="font-size:smaller"><span style="font-weight:bold">Last update:</span>@item.Updated_at</p>

                    <button class="btn btn-success" data-toggle="modal" data-target="#approve-modal">Approve</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#reject-model">Reject</button>
                </div>
            </div>
        }




    </div>
    <!--Model-->
    <!--Approve Modal -->
    <div class="modal fade" id="approve-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body" style="height:500px">
                    <p>Are you sure to approve "<span class="modal-project-name qa-title"></span>"</p>
                    <div class="modal-img row" style="margin-bottom:50px;">
                        <div class="col-sm-6">
                            <h6 style="margin-bottom:0">Avatar:</h6><br />
                            <img src="~/img/avatar/Caledon Tan Phu.jpg" />
                        </div>
                        <div class="col-sm-6">
                            <h6 style="margin-bottom:0">Image:</h6><br />
                            <img src="~/img/avatar/Caledon Tan Phu.jpg" />
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <ul>
                            <li><span class="qa-title">Name</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">Property Type</span>:<span class="modal-project-name"></span></li>
                            <li><span class="qa-title">Price</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">Area</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">BedRoom</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">BathRoom</span>: <span class="modal-project-name"></span></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li><span class="qa-title">Parking Place</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">District</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">Ward</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">Street</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">Create at</span>: <span class="modal-project-name"></span></li>
                            <li><span class="qa-title">Update at</span>: <span class="modal-project-name"></span></li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <ul>
                            <li><span class="qa-title">Description</span>: <span class="modal-project-name"></span></li>
                        </ul>
                    </div>
                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">A</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>


    </div>

