
@{
    ViewBag.Title = "My Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    String userRole = Session["userRole"] as String;
    String verify = Session["VerifyUser"] as String;
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    if (Session["user"] == null)
    {
        Session.RemoveAll();
        Session["login-status"] = "NotLogin";
        Session["SavePath"] = path;
        Response.Redirect("~/User/Login", false);

    }
    else if (!(userRole.Equals("Agency")))
    {
        Session.RemoveAll();
        Session["login-status"] = "WrongRole";
        Response.Redirect("~/User/Login", false);

    }
}
<div class="qa-my-list-projects">
    <center><h1 style="margin-bottom:100px;margin-top:50px;">My Projects</h1></center>
   
    <div class="container section-layout">
        <div class="row">
            <div class="layout-item-wrap col-xs-12">
                @foreach (var item in ViewData["MyProject"] as List<PPCRental.Models.View_project_from_index>)
                {
                    <article class="property layout-item clearfix list-style">
                        <figure class="feature-image">
                            <a class="clearfix zoom" href="single-property.html"><img data-action="zoom" src="img/avatar/@item.Avatar" alt="Property Image" class="" style=""></a>
                            <span class="btn btn-warning btn-sale">for sale</span>
                        </figure>
                        <div class="property-contents clearfix">
                            <header class="property-header clearfix">
                                <div class="pull-left">
                                    <h6 class="entry-title"><a href="single-property.html">@item.PropertyName</a></h6>
                                    <span class="property-location"><i class="fa fa-map-marker"></i>@item.StreetName,@item.WardName,@item.DistrictName</span>
                                </div>

                                <button class="btn btn-default btn-price pull-right btn-3d" data-hover="$3,232,213"><strong>@item.Price</strong></button>
                            </header>
                            <div class="property-meta clearfix">
                                <span><i class="fa fa-arrows-alt"></i> @item.Area</span>
                                <span><i class="fa fa-bed"></i> @item.BedRoom Beds</span>
                                <span><i class="fa fa-bathtub"></i> @item.BathRoom Baths</span>
                                <span><i class="fa fa-cab"></i>@item.PackingPlace Slots</span>
                            </div>
                            <div class="contents clearfix">
                                <p>@item </p>
                            </div>
                            <div class="author-box clearfix">
                                <cite class="author-name">Personal Seller: <a href="#">Linda Garret</a></cite>
                                <span class="phone"><i class="fa fa-phone"></i> 00894 692-49-22</span>
                            </div>
                        </div>
                    </article>
                 }


            </div>
        </div>
    </div>

</div>

