@{
    ViewBag.Title = "Project Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PPCRental.Models.DBModel

@{
    //kiểm tra User-Role
    String userRole = Session["userRole"] as String;
    String verify = Session["VerifyUser"] as String;
    string path = HttpContext.Current.Request.Url.AbsolutePath;

    if (Session["user"] == null)
    {
        Session.RemoveAll();
        Session["login-status"] = "NotLogin";
        Session["SavePath"] = path;
        Response.Redirect("~/User/Login", false);

    }
    //verify user
    //else if (!verify.Equals("Verified"))
    //{

    //    Session["VerifyUser"] = "NotVerify";
    //    Session["SavePath"] = path;
    //    Response.Redirect("~/User/VerifyUser", false);
    //}
    //else if (!(userRole.Equals("Sale")))
    //{
    //    Session.RemoveAll();
    //    Session["login-status"] = "WrongRole";
    //    Response.Redirect("~/User/Login", false);

    //}
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
    .qa-form {
        margin-top: 50px;
        margin-bottom:100px;
    }

    .qa-form h1 {
          margin-bottom: 50px;
     }
    .projectList h1{
        margin-bottom: 50px;
    }
    .qa-form button {
        margin-left: 20px;
    }
    .qa-form .qa-reset {
        margin-left: 90px;
    }
    .qa-img-small {
        width:250px;
    }
    .qa-hide {
        margin-left: 30px;
    }
    #qa-view{
        display: none;  
    }
    .qa-form{
        display:none;
    }
</style>
<div class="qa-detail">
    <div class="container qa-form">
        <h1 style="text-align:center">Project Detail</h1>
        
        <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label col-sm-1" for="projectName">ProjectName:</label>
                <div class="col-sm-5">
                    <input type="hidden" class="form-control" id="projectID" name="projectID">
                    <input type="text" class="form-control" id="projectName" name="pname" required>
                </div>
                <label class="control-label col-sm-1">ProjectStatus:</label>
                <div class="col-sm-5" style="display:block">
                    <select class="form-control qa-select" id="pStatus">
                        <option value="-1" selected disabled style="font-weight:bold"></option>
                        @foreach (var item in ViewData["project-status"] as List<PPCRental.Models.PROJECT_STATUS>)
                        {
                            if (item.ID!=2)
                            {
                                <option value="@item.ID">@item.Status_Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="ava">Avatar:</label>
                <div class="col-sm-5">
                    <div style="position:relative">
                        <input type="text" class="form-control col-sm-11" id="ava" name="avatar" style="position:absolute" readonly />
                        <input type="file" id="avaUpload" name="avatarUpload" style="display:none" onchange="loadAvatar(event)">
                        <input type="button" class="btn btn-default col-sm-1" id="btnAvaUp" value="..." style="position:absolute;top:0;right:0px;width:50px;" />
                    </div>
                </div>
                <label class="control-label col-sm-1" for="ima">Image:</label>
                <div class="col-sm-5">
                    <div style="position:relative">
                        <input type="text" class="form-control" id="ima" name="image" style="position:absolute" value="@Session["editImage"]" readonly />
                        <input type="file" id="imaUpload" name="imageUpload" style="display:none" onchange="loadImage(event)">
                        <input type="button" class="btn btn-default" id="btnImaup" value="..." style="position:absolute;top:0;right:0px;width:50px;" />
                    </div>
                </div>
            </div>
            <div class="form-group" id="qa-view">
                <label class="control-label col-sm-1"></label>
                <div class="col-sm-5">
                  <img data-action="zoom" src="" id="qa-view-avatar"/>
                </div>
                <label class="control-label col-sm-1"></label>
                <div class="col-sm-5">
                    <img data-action="zoom" src="" id="qa-view-image"/>
                </div>
            </div>
            @*<div class="form-group">
                    <label class="control-label col-sm-1" for="ima">Image:</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="ima" name="image" />
                        <input type="file" id="imaUpload" name="imageUpload" style="display:none">
                        <input type="button" class="btn btn-default" id="btnImaup" value="..." />
                    </div>
                </div>*@


            <div class="form-group">
                <label class="control-label col-sm-1" for="district">District:</label>
                <div class="col-sm-3">
                    <select class="form-control select1 qa-select" id="district" name="select1" onchange='change2()'>
                        <option value="-1" selected disabled style="font-weight:bold">District</option>
                        @foreach (var item in Model.districtService)
                        {
                            <option value="@item.ID">@item.DistrictName</option>
                        }
                    </select>
                </div>
                <label class="control-label col-sm-1" for="street">Street:</label>
                <div class="col-sm-3">
                    <select class="form-control select2 qa-select" id="street" name="select2" disabled onchange='change3()'>
                        <option value="-1" selected disabled style="font-weight:bold">Street</option>
                        @foreach (var item in Model.streetService)
                        {
                            <option value="@item.District_ID">@item.StreetName</option>
                        }
                    </select>
                </div>
                <label class="control-label col-sm-1" for="ward">Ward:</label>
                <div class="col-sm-3">
                    <select class="form-control select3 qa-select" id="ward" name="select3" disabled>
                        <option value="-1" selected disabled style="font-weight:bold">Ward</option>
                        @foreach (var item in Model.wardService)
                        {
                            <option value="@item.District_ID">@item.WardName</option>
                        }
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-1" for="price">Price:</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="price" name="price" min="0" value="0">
                </div>
                <label class="control-label col-sm-1" for="area">Area:</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="area" name="area" min="0" value="0">
                </div>
                <label class="control-label col-sm-1" for="ptype">ProjectType:</label>
                <div class="col-sm-3">
                    <select class="form-control qa-select" id="ptype">
                        <option value="-1" selected disabled style="font-weight:bold">Type of project</option>
                        @{
                            foreach (var item in Model.propertyTypeService)
                            {
                                <option value="@item.ID">@item.CodeType</option>

                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="bed">BedRoom:</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="bed" name="bed" min="0" value="0">
                </div>
                <label class="control-label col-sm-1" for="bath">BathRoom:</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="bath" name="bath" min="0" value="0">
                </div>
                <label class="control-label col-sm-1" for="packing">PackingPlace:</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="packing" name="packing" min="0" value="0">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="content">Content:</label>
                <div class="col-sm-11">
                    <textarea class="form-control" id="content" rows="8"></textarea>
                </div>
            </div>
            <div class="form-group container" style="position:relative">
                <div class="col-sm-10" style="width:100%">
                    <button type="button" class="btn btn-warning qa-reset"><i class="fa fa-undo"></i> Reset</button>
                    <button type="button" class="btn btn-info qa-hide"><i class="fa fa-minus"></i> Hide</button>
                    <button type="button" class="btn btn-danger pull-right qa-remove" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-remove"></i> Remove</button>
                    <button type="button" class="btn btn-primary pull-right qa-update"><i class="fa fa-wrench"></i> Update</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal for deleted item -->
    <div class="modal fade" id="modalDelete" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:whitesmoke">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning!!!</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete &ldquo;<span id="qa-projectNameModal" style="font-weight:bold"></span>&rdquo; ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="qa-accepted"><i class="fa fa-check"></i> Sure</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--List-->
<div class="projectList container">
    <h1 style="text-align:center">Project List</h1>
    <button type="button" class="btn btn-success pull-right qa-show"><i class="fa fa-plus"></i> Show</button>
    <table class="table table-striped table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#id</th>
                <th scope="col">ProjectName</th>
                <th scope="col">Avatar</th>
                <th scope="col">Image</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col">Area</th>
                <th scope="col">UserID</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
          @foreach (var item in ViewData["project-list"] as List<PPCRental.Models.PROPERTY>)
          {
              <tr class="qa-body" id="@item.ID">
                <td class="qa-id">@item.ID</td>
                <td>@item.PropertyName</td>
                  @{
                      if (File.Exists(Server.MapPath("../img/avatar/" + item.Avatar)))
                      {
                        <td>
                            <img data-action="zoom" src="~/img/avatar/@item.Avatar" class="qa-img-small" /><br />
                            @item.Avatar
                           
                            
                        </td>
                      }
                      else
                      {
                        <td>
                            <img data-action="zoom" src="~/img/avatar/not-found.jpg" class="qa-img-small" /><br />  
                        </td>
                      }
                      if (File.Exists(Server.MapPath("../img/avatar/" + item.Images)))
                      {
                        <td>
                            <img data-action="zoom" src="~/img/avatar/@item.Images" class="qa-img-small" /><br />@item.Images
                            
                        </td>
                      }
                      else
                      {
                        <td>
                            <img data-action="zoom" src="~/img/avatar/not-found.jpg" class="qa-img-small" /><br />
                            
                        </td>
                      }
                }
                
                @{ 
                    string status = item.PROJECT_STATUS.Status_Name;
                    string color = "";
                    if (status.Equals("Đã duyệt"))
                    {

                        color = "green";
                    }else if (status.Equals("Hết hạn") ||status.Equals("Từ chối"))
                    {
                        color = "red";
                    }else if (status.Equals("Chưa duyệt"))
                    {
                        color = "orange";
                    }
                    <td style="color:@color">@status</td>
                }
               
                <td>@item.Price @item.UnitPrice</td>
                <td>@item.Area m2</td>
                @{
                    if (item.USER == null)
                    {
                        <td>NoUser</td>
                    }
                    else
                    {
                        <td>@item.USER.FullName</td>
                    }
                }
                <td><button class="btn btn-default qa-edit"><i class="glyphicon glyphicon-edit"></i> Edit</button></td>
              </tr>
            }
        </tbody>
    </table>

</div>
<script>
    $(document).ready(function () {
        function clear() {
            $(':input[type="text"]').val('');
            $(':input[type="number"]').val('');
            $(':input[type="file"]').val('');
            $('textarea').val('');
            //  $(':select').find('option#1').attr(selected, "selected");
            $('.qa-select').val(-1);
            $('#street').attr('disabled', true);
            $('#street').val(-1);
            $('#ward').attr('disabled', true);
            $('#ward').val(-1);

        }
        $(".qa-reset").on("click", function(){
            clear();
        });
        $(".qa-hide").on("click", function () {
            $("html, body").animate({ scrollTop: $('qa-form').offset().top }, 1000);
            $(".qa-form").hide(1000);
            $(".qa-show").show();
        });
        $(".qa-show").on("click", function () {
            $("html, body").animate({ scrollTop: $('qa-form').offset().top }, 1000);
            $(".qa-form").show(1000);
            $(".qa-show").hide();
        });
        $(".qa-edit").on("click", function () {
            var projectid = $(this).parents(".qa-body").find(".qa-id").text();
            $.ajax({
                url: '/Project/Edit/',
                type: "POST",
                data: { id: projectid },
                dataType: "json",
                success: function (data) {
                    //alert('Load project success');
                    $("html, body").animate({ scrollTop: $('qa-form').offset().top }, 1000);
                    $(".qa-form").delay(800).hide(800);
                    $(".qa-form").delay(300).show(1000);
                    $('.select2').attr('disabled', false);
                    $('.select3').attr('disabled', false);
                    setTimeout(function () {
                        //do what you need here
                        $(".qa-form #projectID").val(data.projectId);
                        $(".qa-form #projectName").val(data.projectName);
                        $("#qa-projectNameModal").html(data.projectName);
                        $(".qa-form #ava").val(data.projectAvatar);
                        $(".qa-form #ima").val(data.projectImage);
                        $(".qa-form #price").val(data.projectPrice);
                        $(".qa-form #area").val(data.projectArea);
                        $(".qa-form #bed").val(data.projectBed);
                        $(".qa-form #bath").val(data.projectBath);
                        $(".qa-form #packing").val(data.projectParking);
                        $(".qa-form #district").val(data.projectDistrict);
                        $(".qa-form #street").val(data.projectStreet);
                        $(".qa-form #ward").val(data.projectWard);
                        $(".qa-form #ptype").val(data.projectType);
                        $(".qa-form #content").val(data.projectContent);
                        $(".qa-form #pStatus").val(data.projectStatus);


                        //image
                        var Src = "../img/avatar/";
                        //if (data.projectAvatar != null || data.projectImage != null) {

                        //}
                        $("#qa-view").css('display', 'block');
                        var avatarSrc = Src.concat(data.projectAvatar);
                        var imgSrc = Src.concat(data.projectImage)
                        if (data.projectImage == null) {
                            $(".qa-form #qa-view-avatar").attr("src", avatarSrc);
                        } else {
                            $(".qa-form #qa-view-avatar").attr("src", "../img/avatar/not-found.jpg");

                        }
                        if (data.projectAvatar == null) {
                            $(".qa-form #qa-view-image").attr("src", imgSrc);
                        } else {
                            $(".qa-form #qa-view-image").attr("src", "../img/avatar/not-found.jpg");
                        }



                    }, 1200);
                },
                error: function (err) {
                    //alert("Load project fail: " + err.statusText);
                },
            });
            return false;
        });
        //update
        $(".qa-update").on("click", function () {
            var projectID = $(".qa-form #projectID").val();
            var projectname = $("#projectName").val();
            var projectstatus = $("#pStatus").val();
            //var avatar = $("#ava");
            //var image = $("#ima");
            var district = parseInt($("#distric").val());
            var ward = parseInt($("#ward").val());
            var street = parseInt($("#street").val());
            var price = parseInt($("#price").val());
            var area = $("#area").val();
            var projecttype = parseInt($("#ptype").val());
            var bedroom = parseInt($("#beth").val());
            var bathroom = parseInt($("#bath").val());
            var parking = parseInt($("parking").val());
            var content = parseInt($("#contetn").val());

            var ProjectEdit = {
                PropertyName: projectname,
                Status_ID: projectstatus,
                //Avatar:
                //Images
                PropertyType_ID: projecttype,
                Content: content,
                Street_ID: street,
                Ward_ID: ward,
                District_ID: district,
                Price: price,
                Area: area,
                BedRoom: bedroom,
                BathRoom: bathroom,
                PackingPlace: parking,
                UserID:@Session["userID"],


            }
            console.log(JSON.stringify(ProjectEdit, null, 2));
            $.ajax({
                url: '/Project/projectupdate/',
                type: "POST",
                data: { projectupdate: ProjectEdit, id: projectID },
                dataType: "json",
                success: function (data) {
                    //alert(data['Message']);
                    console.log(data.Message);
                    $(".qa-form").hide(1000);
                    clear();
                },
                error: function (err) {
                    console.log("loi~");
                    //alert(err['Message']);
                    $(".qa-form").hide(1000);
                    clear();
                },

            })
        });
        //remove
        $("#qa-accepted").on("click", function () {

            var deletedID = $(".qa-form #projectID").val();
            //alert(deletedID)
            $.ajax({
                url: '/Project/deleleProject/',
                type: "POST",
                data: { id: deletedID },
                dataType: "json",
                success: function (data) {
                    //alert(data['Message']);
                    $('#modalDelete').modal('toggle');
                    $(".qa-form").hide(1000);
                    $("tbody tr[id='" + deletedID + "']").hide();
                    clear();
                },
                error: function (err) {
                    //alert(err['Message']);
                    $(".qa-form").hide(1000);
                    clear();
                },
            });
            return false;
        });
        //select
        $(".select1").change(function () {
            if ($(this).data('options') === undefined) {
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
                $(this).data('options', $('.select2 option').clone());
            }
            var id = $(this).val();
            var options = $(this).data('options').filter('[value=' + id + ']');
            $('.select2').html(options);
            $('.select2 select').html(options).change();
        });

        $(".select2").change(function () {
            if ($(this).data('options') === undefined) {
                /*Taking an array of all options-3 and kind of embedding it on the select1*/
                $(this).data('options', $('.select3 option').clone());
            }
            var id = $(this).val();
            var options = $(this).data('options').filter('[value=' + id + ']');
            $('.select3').html(options);
        });

        function change2() {
            if ($('.select1 option:selected').length) {
                $('.select2').attr('disabled', false);
            }
        }

        function change3() {
            if ($('.select2 option:selected').length) {
                $('.select3').attr('disabled', false);
            }
        }


        //Xử lý ảnh
        function readAvatar(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#qa-view-avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function readImage(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#qa-view-image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        //load ảnh avatar
        //Đăng ký sự kiện click nút btnAvaUp
        $('#btnAvaUp').click(function () {
            $('#avaUpload').trigger("click");
        });
        //Bắt sự kiện change data của avaUpload
        $('#avaUpload').change(function () {
            var avaName = $('#avaUpload')[0].files[0].name;
            $("#qa-view").css('display', 'block');
            $('#ava').val(avaName);
            readAvatar(this);

        });



        //Đăng ký sự kiện click nút btnImaup
        $('#btnImaup').click(function () {
            $('#imaUpload').trigger("click");
        });
        //Bắt sự kiện change data của imaUpload
        $('#imaUpload').change(function () {
            var imgName = $('#imaUpload')[0].files[0].name;
            $("#qa-view").css('display', 'block');
            $('#ima').val(imgName);
            readImage(this);
        });
    });
</script>
