@model PPCRental.Models.USERMetadata

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .qa-register {
        margin: auto;
        width: 60%;
        padding: 2% 5%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .popover.primary {
        border-color: #337ab7;
    }

        .popover.primary > .arrow {
            border-top-color: #337ab7;
        }

        .popover.primary > .popover-title {
            color: #fff;
            background-color: #337ab7;
            border-color: #337ab7;
        }

    .popover.success {
        border-color: #d6e9c6;
    }

        .popover.success > .arrow {
            border-top-color: #d6e9c6;
        }

        .popover.success > .popover-title {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

    .popover.info {
        border-color: #bce8f1;
    }

        .popover.info > .arrow {
            border-top-color: #bce8f1;
        }

        .popover.info > .popover-title {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

    .popover.warning {
        border-color: #faebcc;
    }

        .popover.warning > .arrow {
            border-top-color: #faebcc;
        }

        .popover.warning > .popover-title {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

    .popover.danger {
        border-color: #ebccd1;
    }

        .popover.danger > .arrow {
            border-top-color: #ebccd1;
        }

        .popover.danger > .popover-title {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
    <div class="page-header" style="text-align: center;">
        <h1>Register</h1>
    </div>
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="qa-register">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @span = "input-group-addon", @i = "fa fa-lock" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SecretQuestion_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                            @Html.DropDownList("SecretQuestion_ID", (IEnumerable<SelectListItem>)ViewBag.question, "Select question", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SecretQuestion_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>

                <div class="form-group" style="font-size:1.5em;">
                    <div>
                        <span class="label label-success">@ViewBag.SuccessMessage</span>
                    </div>
                </div>

                <div class="form-group" style="font-size:1.5em;">
                    <div>
                        <span class="label label-danger">@ViewBag.DuplicateMessage</span>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Login","User")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
