
@{
    ViewBag.Title = "Active User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<PPCRental.Models.UserManagement>


<h2>User Management</h2>
<br />
<select name="user_role" id="select_role" class="form-control" required="required">
    <option value="10">Tất cả</option>
    <option value="0">Chưa có vai trò</option>
    <option value="1">Agency</option>
    <option value="2">Sale</option>
    <option value="3">NVKT</option>
</select>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Fullname</th>
            <th>Phone</th>
            <th>Address</th>
            <th>RoleID</th>
            <th>Status</th>
            <th>Serect Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        
            @{foreach (var item in Model)
                  {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Email</td>
                            <td>@item.Password</td>
                            <td>@item.FullName</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td>@item.RoleID</td>
                            <td>@item.Status</td>
                            <td>@item.question</td>
                            <td>@item.Answer</td>
                        
                        </tr>
                  }
              }
    </tbody>
</table>

<script>
    var role_id;
    $('#select_role').on('change', function () {
        role_id = $(this).find(":selected").val();
        alert(role_id);
        $.ajax({
            url: '/User/userManagement',
            type: "POST",
            data: { role_id: role_id },
            dataType: "json"
        });
    });

   
</script>
    