<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PPC-Rental</title>
    <base href="../" />
    
    <!--Our Style-->
    <link rel="shortcut icon" href="~/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:400,600" rel="stylesheet">
    @*<link rel='stylesheet' id='typo-style-css' href='//themecss.com/wp/Homeland/wp-content/plugins/codeex-shortcodes/typo-style.css?ver=4.8.3' type='text/html' media='all' />*@
    @*<link rel='stylesheet' id='homeland-style-css' href='//themecss.com/wp/Homeland/wp-content/themes/homeland/style.css?ver=4.8.3' type='text/html' media='all' />*@
    @Styles.Render("~/Content/css")

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
   
    @*TEST*@
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='bbp-default-css' href='//themecss.com/wp/Homeland/wp-content/plugins/bbpress/templates/default/css/bbpress.css?ver=2.5.14-6684' type='text/html' media='screen' />
  
    <link rel='stylesheet' id='contact-form-7-css' href='//themecss.com/wp/Homeland/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.9' type='text/html' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='//themecss.com/wp/Homeland/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.0.8.5' type='text/html' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/html'>
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }
    </style>
    <link rel='stylesheet' id='homeland-custom-style-css' href='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/css/admin.css?ver=4.8.3' type='text/html' media='all' />
    <link rel='stylesheet' id='homeland-custom-font-css' href='https://fonts.googleapis.com/css?family=Libre+Franklin%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i&#038;ver=4.8.3#038;subset=latin-ext' type='text/html' media='all' />
    
    <link rel='stylesheet' id='homeland-responsive-css' href='//themecss.com/wp/Homeland/wp-content/themes/homeland/responsive.css?ver=4.8.3' type='text/html' media='all' />
    @*<link rel='stylesheet' id='font-awesome-css' href='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/font-awesome/css/font-awesome.min.css?ver=4.7.0' type='text/html' media='all' />*@
    <link rel='stylesheet' id='jquery-flexslider-css' href='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/js/flexslider/flexslider.css?ver=4.8.3' type='text/html' media='all' />
    <link rel='stylesheet' id='jquery-magnific-css' href='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/js/magnific-popup/magnific-popup.css?ver=4.8.3' type='text/html' media='all' />
    <link rel='stylesheet' id='jquery-select2-css' href='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/js/select2/select2.css?ver=4.8.3' type='text/html' media='all' />
    <link rel='stylesheet' id='wpdevelop-bts-css' href='//themecss.com/wp/Homeland/wp-content/plugins/booking/assets/libs/bootstrap/css/bootstrap.css?ver=3.3.5.1' type='text/html' media='all' />
    <link rel='stylesheet' id='wpdevelop-bts-theme-css' href='//themecss.com/wp/Homeland/wp-content/plugins/booking/assets/libs/bootstrap/css/bootstrap-theme.css?ver=3.3.5.1' type='text/html' media='all' />
    <link rel='stylesheet' id='wpbc-client-pages-css' href='//themecss.com/wp/Homeland/wp-content/plugins/booking/css/client.css?ver=8.0' type='text/html' media='all' />
    <link rel='stylesheet' id='wpbc-admin-timeline-css' href='//themecss.com/wp/Homeland/wp-content/plugins/booking/css/timeline.css?ver=8.0' type='text/html' media='all' />
    <link rel='stylesheet' id='wpbc-calendar-css' href='//themecss.com/wp/Homeland/wp-content/plugins/booking/css/calendar.css?ver=8.0' type='text/html' media='all' />
    <link rel='stylesheet' id='wpbc-calendar-skin-css' href='//themecss.com/wp/Homeland/wp-content/plugins/booking/css/skins/traditional.css?ver=8.0' type='text/html' media='all' />
</head>
<body>
    <!-- loader -->
    @*div id="page-loader">
        <div class="loaders">
            <img src="~/img/loader/3.gif" alt="First Loader">
            <img src="~/img/loader/4.gif" alt="First Loader">
        </div>
    </div>*@
    <!-- /loader -->
    <!-- site-header -->
    <header id="site-header">
        <!-- site-header-top -->
        <!--#include virtual="~Views/Shared/Layout/User/Menu/top-menu.cshtml"-->
            @if (Session["user"] != null)
            {
                @RenderPage("~/Views/Shared/Layout/User/top-menu-2.cshtml")
            }else
        	{
	            @RenderPage("~/Views/Shared/Layout/User/top-menu.cshtml")   
            }
        <!-- /site-header-top -->
        <!-- site-menu -->
            @RenderPage("~/Views/Shared/Layout/User/site-menu.cshtml")
        <!-- site-menu -->
    </header>
    <!--site-body-->
    <div class="body">
        @RenderBody()
    </div>
    <!--/site-body-->
    <!--footer-->
    @RenderPage("~/Views/Shared/Layout/User/footer.cshtml")
    <!--/footer-->
    <a href="#top" id="scroll-top"><i class="fa fa-angle-up"></i></a>
    
    
    
    
    
    
    
    
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.migrate.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.slicknav.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    
    <script src="~/Scripts/tweetie.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/zoom.js"></script>
    <script src="~/Scripts/mixitup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2MtZynhsvwI2B40juK6SifR_OSyj4aBA&libraries=places"></script>
    <script src="~/Scripts/WhatsNearby.js"></script>
    <script src="~/Scripts/theme.js"></script>


    <!--tEST-->
    
   @* <script type='text/javascript' src='//themecss.com/wp/Homeland/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.9'></script>*@
    @*<script type='text/javascript' src='//themecss.com/wp/Homeland/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>*@
    <script type='text/javascript' src='~/Scripts/masonry.min.js'></script>
    <script type='text/javascript' src='~/Scripts/superfish.min.js'></script>
   @* <script type='text/javascript' src='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/js/retina.min.js?ver=4.8.3'></script>*@
    @*<script type='text/javascript' src='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/js/modernizr.custom.js?ver=4.8.3'></script>*@
    <script type='text/javascript' src='~/Scripts/jquery.elastislide.min.js'></script>
    @*<script type='text/javascript' src='//themecss.com/wp/Homeland/wp-content/themes/homeland/assets/js/jquery.validate.min.js?ver=4.8.3'></script>*@
   
    <script type='text/javascript' src='~/Scripts/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript' src='~/Scripts/select2.min.js'></script>
    @*<script type='text/javascript' src='//themecss.com/wp/Homeland/wp-includes/js/comment-reply.min.js?ver=4.8.3'></script>*@
    <script type='text/javascript' src='~/Scripts/custom.js'></script>
    

</body>
</html>
