<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PPC-Rental</title>
    <base href="../" />

    <!--Our Style-->
    <link rel="shortcut icon" href="~/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:400,600" rel="stylesheet">
    @*<link rel='stylesheet' id='bbp-default-css' href='http:~/Content/Homeland/wp-content/plugins/bbpress/templates/default/css/bbpress.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='typo-style-css' href='http:~/Content/Homeland/wp-content/plugins/codeex-shortcodes/typo-style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='homeland-style-css' href='http:~/Content/Homeland/wp-content/themes/homeland/style.css' type='text/css' media='all' />*@

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slicknav.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' id='jquery-magnific-css' href='~/Content/magnific-popup.css' type='text/css' media='all' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' id='homeland-responsive-css' href='~/Content/responsive.css' type='text/css' media='all' />
    @*sweet alert*@
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" type="text/css" />
    <!-- bootstrap select -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
</head>
<body>
    <!-- loader -->
    @*<div id="page-loader">
        <div class="loaders">
            <img src="~/img/loader/3.gif" alt="First Loader">
            <img src="~/img/loader/4.gif" alt="First Loader">
        </div>
    </div>*@
    <!-- /loader -->
    <!-- site-header -->
    <header id="site-header" class="clearfix">
        <!-- site-header-top -->
        <div id="qa-top-menu">
            <!--#include virtual="~Views/Shared/Layout/User/Menu/top-menu.cshtml"-->
            @{

                //get cookie
                HttpCookie userName = Request.Cookies["UserName"];
                
                // HttpSessionStateBase httpSession;
                if (Session["user"] != null)
                {
                    String userRole = Session["userRole"] as String;
                    bool userStatus = bool.Parse(Session["userStatus"].ToString());
                    if (userRole.Equals("Agency") && userStatus)
                    {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu-agency.cshtml")
                    }
                    else if (userRole.Equals("Sale") && userStatus)
                    {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu-sale.cshtml")
                    }
                    else if (userRole.Equals("Technical") && userStatus)
                    {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu-technical.cshtml")
                    }
                    else
                    {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu-noneRole.cshtml")
                    }
                }
                else if(userName != null){
                    HttpCookie userRole = Request.Cookies["userRole"];
                    HttpCookie userID = Request.Cookies["UserID"];

                    Session["user"] =userName.Value.ToString();
                    Session["userID"] = int.Parse(userID.Value);
                    Session["userRole"] = userRole.Value.ToString();

                    if (userRole.Value.ToString().Equals("Agency"))
                    {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu-agency.cshtml")
                        }
                    else if (userRole.Equals("Sale"))
                        {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu-sale.cshtml")
                        }
                    else if (userRole.Equals("Technical"))
                        {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu-technical.cshtml")
                    }
                    else
                    {
                        @RenderPage("~/Views/Shared/Layout/User/top-menu.cshtml")
                    }
                }
                else
                {
                    @RenderPage("~/Views/Shared/Layout/User/top-menu.cshtml")
                }


                String verify = Session["VerifyUser"] as String;
                if (Session["VerifyUser"] ==null||!verify.Equals("Verified"))
                {
                    if (Session["userID"] != null)
                    {
                        String sessionUser = Session["userID"].ToString();
                        HttpCookie UserID = Request.Cookies[sessionUser];
                        HttpCookie Verify = Request.Cookies["VerifyUser3"];


                        if (Request.Cookies.Get(sessionUser) != null)
                        {
                            if (UserID.Value.ToString() == sessionUser)
                            {
                                if (Verify.Value=="Verified")
                                {
                                    Session["VerifyUser"] = "Verified";
                                }


                            }

                        }





                    }
                }
                if (verify == null)
                {
                    Session["VerifyUser"] = "NotVerify";
                }


                }


                
        </div>
        <!-- /site-header-top -->
        <!-- site-menu -->
        <div id="qa-site-menu">
            @RenderPage("~/Views/Shared/Layout/User/site-menu.cshtml")
        </div>
        <!-- site-menu -->
    </header>
    <!--site-body-->
    <div class="body clearfix">
        @RenderBody()
    </div>
    <!--/site-body-->
    <!--footer-->
   <div>
       @RenderPage("~/Views/Shared/Layout/User/footer.cshtml")
   </div>
    <!--/footer-->
    <a href="#top" id="scroll-top"><i class="fa fa-angle-up"></i></a>










    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @*<script src="~/Scripts/jquery.magnific-popup.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.migrate.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.slicknav.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/tweetie.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/zoom.js"></script>
    <script src="~/Scripts/mixitup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2MtZynhsvwI2B40juK6SifR_OSyj4aBA&libraries=places"></script>
    <script src="~/Scripts/WhatsNearby.js"></script>
    <script src="~/Scripts/theme.js"></script>
    
    <!--style DataTable-->
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <!--*sweet alert-->
    <script src="~/Scripts/sweetalert/sweetalert2.all.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

        @RenderSection("upload",required:false)
    <!--tEST-->
    <script type='text/javascript' src='~/Content/Homeland/wp-includes/js/masonry.min.js'></script>
    <script type='text/javascript' src='~/Content/Homeland/wp-content/themes/homeland/assets/js/superfish.min.js'></script>

    <script type='text/javascript' src='~/Content/Homeland/wp-content/themes/homeland/assets/js/jquery.elastislide.min.js'></script>
    <script type='text/javascript' src='~/Content/Homeland/wp-content/themes/homeland/assets/js/jquery.validate.min.js'></script>


    <script type='text/javascript' src='~/Content/Homeland/wp-content/themes/homeland/assets/js/magnific-popup/jquery.magnific-popup.min.js'></script>
    @*<script type='text/javascript' src='~/Scripts/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript' src='~/Scripts/select2.min.js'></script>*@
    <script         type='text/javascript' src='~/Content/Homeland/wp-content/themes/homeland/assets/js/select2/select2.min.js'></script>

    <script type='text/javascript' src='~/Content/Homeland/wp-includes/js/imagesloaded.min.js'></script>
    <script type='text/javascript' src='~/Scripts/masonry.min.js'></script>
    <script type='text/javascript' src='~/Scripts/superfish.min.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.elastislide.min.js'></script>

    <script type='text/javascript' src='~/Scripts/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript' src='~/Scripts/select2.min.js'></script>

    <script type='text/javascript' src='~/Scripts/custom.js'></script>

    <script type='text/javascript' src='~/Content/Homeland/wp-includes/js/jquery/ui/autocomplete.min.js'></script>
    <script type='text/javascript' src='~/Content/Homeland/wp-content/plugins/dsidxpress/js/autocomplete.js'></script>
    <!--Bắt sự kiện scroll chuột xuống-->
    <script>
    
        $(window).scroll(function () {
            var st = $(this).scrollTop();
            if (st > 100) {
                $("#qa-top-menu").css("display", "none").fadeOut("slow");
                $("#site-header").addClass("site-menu-scroll");
                $("#site-header").css("background-color", "rgba(0,0,0,0.7)");
                $("#site-header").css("color", "white");
                $("#site-logo img").attr("src","../img/footer-logo.png")
            } else {
                $("#qa-top-menu").css("display", "normal").fadeIn("slow");
                $("#site-header").removeClass("site-menu-scroll");
                $("#site-header").css("background-color", "white");
                $("#site-header").css("color", "#333");
                $("#site-logo img").attr("src", "../img/logo.png")
            }
           
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
